.homepage {
  text-align: center;
}

.content {
  padding: 20px;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.person-container {
  width: calc(100% / 6 - 10px); /* This ensures 6 items per row with space between */
  max-width: none; /* Remove the previous max-width restriction */
  margin: 5px 0; /* Add vertical margin between rows */
  text-align: center;
}

.photo-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  padding-left: 0px; /* Adjust this value to set distance from the left */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.photo-wall img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-wall .add-photo {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-wall .add-photo::after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  /* Tiny font size */
  color: white;
  font-weight: bold;
}

.section-title,
.collection-title {
  margin: 0;
  padding-left: 20 px; /* Adjust this value to move titles to the right */
  text-align: left;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.header-with-button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-with-button .section-title,
.header-with-button .collection-title {
  margin: 0;
  text-align: left; /* Aligns the titles to the left */
}

.header-with-button .add-person,
.header-with-button .add-collection {
  margin-left: 0 px; /* Consistent spacing for add buttons */
}

.centered-title {
  text-align: center; /* Centers the title */
  margin-top: 20px;
}

.collection-list {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  text-align: left; /* Aligns list items to the left */
}

.google-signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  width: 150px; /* or any other width */
}

.google-signin-button img {
  width: 100%; /* Make the image fit the container */
  max-width: 100%;
  height: auto;
}