.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.white-text-field .MuiInputBase-input {
  color: white;
}

.white-text-field .MuiInputLabel-root {
  color: white;
}

.white-text-field .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.white-text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.white-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}